* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.anuncio-cont {
  width: 70%;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}
.anuncio-cont > .anuncio-item{
  border: 1px solid #000;
  margin: 1rem;
  width: 200px;
}